* {
	padding: 0;
	margin: 0;
    overflow: auto;
}

body {
	background: url(public/images/asfalt-dark.png) #F1F1F1;
	overflow: hidden;
}
header{
    background: #191919;
    width: 100%;
    height: 49vw;
    color: #C4C3C3;
    font-family: "open sans";
	font-style: normal;
	font-weight: 400;
    font-size: 1.5em;
    text-align: center;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 150%;
    min-height: 150%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}
#center{
    position: absolute;
    left: 20%;
    top: 10%
}
#center img{
    width: 45em;
}
#center h1{
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 3em;
    
}
article{
    overflow: hidden;
}
article p:first-child{
    font-family: "open sans";
	font-style: italic;
	font-weight: 400;
    font-size: .5em;
    position: absolute;
    left: 50%;
    top: 5%;
}
.verticalleft{
    font-size: .5em;
     float: left;
      margin: 79px -433px 0 0;
      width: 30%;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);	
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.verticalleft:nth-child(2){
   margin: 459px -433px 0 0;
}
.verticalright{
    font-size: .5em;
     float: right;
    margin: 89px -2px 50px -290px;
      width: 20%;
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);	
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.verticalright:nth-child(2){
     margin: 499px -2px 50px -290px;
}

.afb1 {
    width: 60em;
    height: 30em;
    position: absolute;
    left: 18%;
    margin-top: 5em;
    margin-bottom: 5em;
    overflow: hidden;
    background-color: red;
}
.afb2 {
    width: 62em;
    position: absolute;
    left: 1%;
    top: 190%;
    width: 60em;
    height: 30em;
    position: absolute;
    margin-bottom: 5em;
    overflow: hidden;
    background-color: green;
}